<nav class="navbar navbar-expand-sm bg-primary navbar-dark">
    <ul class="navbar-nav">
        <li class="nav-item">
            <a routerLink="employees" class="nav-link" routerLinkActive="active">Alkalmazottak listája</a>
        </li>
        <li class="nav-item">
            <a routerLink="add" class="nav-link" routerLinkActive="active">Új alkalmazott felvétele</a>
        </li>
    </ul>
</nav>

<div class="container">
    <br>
    <h2>Springboot+Angular8</h2>
    <div class="card">
        <div class="card-body">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>