<h3>Új alkalmazott felvétele</h3>
<div [hidden]="submitted" style="width: 400px;">
    <form (ngSubmit)="onSubmit()">
        <div class="form-group">
            <label for="name">Keresztnév</label>
            <input type="text" class="form-control" id="firstName" required [(ngModel)]="employee.firstName" name="firstName">
        </div>

        <div class="form-group">
            <label for="name">Vezetéknév</label>
            <input type="text" class="form-control" id="lastName" required [(ngModel)]="employee.lastName" name="lastName">
        </div>

        <div class="form-group">
            <label for="name">Email Id</label>
            <input type="text" class="form-control" id="emailId" required [(ngModel)]="employee.emailId" name="emailId">
        </div>

        <button type="submit" class="btn btn-success">Elküldés</button>
    </form>
</div>

<div [hidden]="!submitted">
    <h4>Sikeresen beküldted!</h4>
    <button class="btn btn-success" (click)="newEmployee()">Új hozzáadása</button>
</div>