<div class="panel panel-primary">
    <div class="panel-heading">
        <h2>Alkalmazottak listája</h2>
    </div>
    <div class="panel-body">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Keresztnév</th>
                    <th>Vezetéknév</th>
                    <th>Email</th>
                    <th>Műveletek</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let employee of employees | async">
                    <td>{{employee.firstName}}</td>
                    <td>{{employee.lastName}}</td>
                    <td>{{employee.emailId}}</td>
                    <td><button (click)="deleteEmployee(employee.id)" class="btn btn-danger">Törlés</button>
                        <button (click)="employeeDetails(employee.id)" class="btn btn-info" style="margin-left: 10px">Részletek</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>