<h2>Alkalmazottak adatai:</h2>

<hr/>
<div *ngIf="employee">
    <div>
        <label><b>Keresztnév: </b></label> {{employee.firstName}}
    </div>
    <div>
        <label><b>Vezetéknév: </b></label> {{employee.lastName}}
    </div>
    <div>
        <label><b>Email Id: </b></label> {{employee.emailId}}
    </div>
</div>

<br>
<br>
<button (click)="list()" class="btn btn-primary">Vissza az adatokhoz</button><br>